@model Orion.CRM.WebApp.Models.Customer.CustomerListViewModel
@using Orion.CRM.WebApp.App_Data;
@addTagHelper "Orion.CRM.WebApp.App_Data.HtmlPagerTagHelper,Orion.CRM.WebApp"

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/pikaday/pikaday.css" rel="stylesheet" />
    <link href="~/vendors/chosen.css" rel="stylesheet" />
    <style type="text/css">
        input[type="radio"], input[type="checkbox"] {
            margin: 0 0 0;
            line-height: normal;
        }

        .search-input {
            border: 1px solid gray;
            border-radius: 1px !important;
            padding: 3px 3px;
            height: 18px !important;
            width: 91px;
            font-size: 12px !important;
        }

        .search-select {
            width: 105px;
            height: 28px !important;
            border-radius: 1px !important;
            padding: 0px 3px
        }
    </style>
}


<div class="panel panel-default span12">
    <div class="panel-heading">
        <h3 class="panel-title">所有客户</h3>
    </div>

    <div class="panel-body">

        @if (TempData["result"] != null)
        {
            if ((bool)TempData["result"])
            {
                <!--操作成功通知-->
                <div class="alert alert-success" id="successAlert" style="max-width:540px;margin:10px 0px 20px 0px">
                    <button class="close" data-dismiss="alert">×</button>
                    <span>恭喜您，添加成功！</span>
                </div>
            }
            else
            {
                <!--操作失败通知-->
                <div class="alert alert-error" id="errorAlert" style="max-width:540px;margin:10px 0px 20px 55px">
                    <button class="close" data-dismiss="alert">×</button>
                    <span>抱歉，添加失败，请重试！</span>
                </div>
            }
        }
        @if (TempData["deleteResult"] != null)
        {
            if ((bool)TempData["deleteResult"])
            {
                <!--操作成功通知-->
                <div class="alert alert-success" id="successAlert" style="max-width:540px;margin:10px 0px 20px 0px">
                    <button class="close" data-dismiss="alert">×</button>
                    <span>删除成功！</span>
                </div>
            }
            else
            {
                <!--操作失败通知-->
                <div class="alert alert-error" id="errorAlert" style="max-width:540px;margin:10px 0px 20px 55px">
                    <button class="close" data-dismiss="alert">×</button>
                    <span>抱歉，删除失败，请重试！</span>
                </div>
            }
        }
        <!--查询-->
        <form action="/Customer/All" method="get">
            <div style="background-color:#f5f5f5;padding:10px">
                <div style="background-color:#fff;padding:5px">
                    <div class="form-inline" style="margin-top:10px">
                        <span>姓名</span>
                        <input type="text" class="search-input" placeholder="客户姓名" name="name" value="@Model.Params.name" />
                        <span style="margin-left:10px">手机</span>
                        <input type="text" class="search-input" placeholder="手机号码" name="mobile" value="@Model.Params.mobile" />
                    </div>
                    <div class="form-inline" style="margin-top:10px">
                        <span>项目</span>
                        <select class="search-select" id="pid" name="pid" onchange="projectChange(this)">
                            <option>请选择</option>
                            @if (Model.ProjectList != null)
                            {
                                foreach (var project in Model.ProjectList)
                                {
                                    if (project.Id == Model.Params.pid)
                                    {
                                        <option value="@project.Id" selected="selected">@project.ProjectName</option>
                                    }
                                    else
                                    {
                                        <option value="@project.Id">@project.ProjectName</option>
                                    }
                                }
                            }
                        </select>

                        <span style="margin-left:10px">品牌</span>
                        <select class="search-select" id="bid" name="bid"><option>请选择</option></select>
                        <span style="margin-left:10px">代理级别</span>
                        <select class="search-select" id="level" name="level">
                            <option>请选择</option>
                            @if (Model.Params.level == 1)
                            {
                                <option value="1" selected="selected">省代理</option>
                            }
                            else
                            {
                                <option value="1">省代理</option>
                            }

                            @if (Model.Params.level == 2)
                            {
                                <option value="2" selected="selected">直辖市代理</option>
                            }
                            else
                            {
                                <option value="2">直辖市代理</option>
                            }


                            @if (Model.Params.level == 3)
                            {
                                <option value="3" selected="selected">省会城市代理</option>
                            }
                            else
                            {
                                <option value="3">省会城市代理</option>
                            }


                            @if (Model.Params.level == 4)
                            {
                                <option value="4" selected="selected">地区代理</option>
                            }
                            else
                            {
                                <option value="4">地区代理</option>
                            }


                            @if (Model.Params.level == 5)
                            {
                                <option value="5" selected="selected">地市代理</option>
                            }
                            else
                            {
                                <option value="5">地市代理</option>
                            }


                            @if (Model.Params.level == 6)
                            {
                                <option value="6" selected="selected">县代理</option>
                            }
                            else
                            {
                                <option value="6">县代理</option>
                            }


                            @if (Model.Params.level == 7)
                            {
                                <option value="7" selected="selected">经销商</option>
                            }
                            else
                            {
                                <option value="7">经销商</option>
                            }
                        </select>
                        <span style="margin-left:10px">区域</span>
                        <select class="search-select" name="z1" id="provinceSelect" onchange="provinceChange()">
                            <option value="">请选择...</option>
                        </select>
                        <select class="search-select" name="z2" id="citySelect" onchange="cityChange()">
                            <option value="">请选择...</option>
                        </select>
                        <select class="search-select" name="z3" id="districtSelect">
                            <option value="">请选择...</option>
                        </select>

                        <button type="submit" class="btn btn-primary" style="margin-left:70px">
                            查询
                        </button>
                        <a href="/Customer/All" class="btn btn-default">清空</a>
                    </div>

                    <div class="form-inline" style="margin-top:10px">
                        <a href="/Customer/Add" class="btn btn-default">
                            新 建 <i class="icon-plus"></i>
                        </a>

                        <button type="button" class="btn btn-default" style="margin-left:8px;display:none" id="btnBatchAssign" onclick="showAssignPanel()">
                            批量分配售后
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hidBrandId" value="@Model.Params.bid" />
            <input type="hidden" id="hidZone1" value="@Model.Params.z1" />
            <input type="hidden" id="hidZone2" value="@Model.Params.z2" />
            <input type="hidden" id="hidZone3" value="@Model.Params.z3" />

            <!--当前操作的客户Id-->
            <input type="hidden" id="hidCurrentCustomerId" />
            <!--当前操作类型，1=单个分配，2=批量分配-->
            <input type="hidden" id="hidOperType" />
        </form>

        <!--数据列表-->
        <div style="background-color:#f5f5f5;padding:10px;">
            <div style="background-color:#fff;padding:5px">
                <table class="table table-bordered table-data">
                    <thead>
                        <tr>
                            <th style="width:20px">
                                <input type="checkbox" id="ckAll" onclick="checkToggle()" />
                            </th>
                            <th>客户姓名</th>
                            <th>联系方式</th>
                            <th>售后专员</th>
                            <th>创建时间</th>
                            <th>项目</th>
                            <th>品牌</th>
                            <th>代理级别</th>
                            <th>代理区域</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Customers != null && Model.Customers.Count > 0)
                        {
                            foreach (var item in Model.Customers)
                            {
                                <tr>
                                    <td><input type="checkbox" name="ckCustomer" value="@item.Id" onclick="ckClick()" /></td>
                                    <td><a href="/Customer/Detail/@item.Id">@item.RealName</a></td>
                                    <td>@item.Mobile</td>
                                    <td>@item.ServiceRealName</td>
                                    <td>@item.CreateTime.ToString("yyyy-MM-dd")</td>
                                    <td>@item.ProjectName</td>
                                    <td>@item.BrandName</td>
                                    <td>
                                        @if (item.AgentLevel == 1)
                                        {
                                            <span>省代理</span>
                                        }
                                        else if (item.AgentLevel == 2)
                                        {
                                            <span>直辖市代理</span>
                                        }
                                        else if (item.AgentLevel == 3)
                                        {
                                            <span>省会城市代理</span>
                                        }
                                        else if (item.AgentLevel == 4)
                                        {
                                            <span>地区代理</span>
                                        }
                                        else if (item.AgentLevel == 5)
                                        {
                                            <span>地市代理</span>
                                        }
                                        else if (item.AgentLevel == 6)
                                        {
                                            <span>县代理</span>
                                        }
                                        else if (item.AgentLevel == 7)
                                        {
                                            <span>经销商</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.AgentZone1))
                                        {
                                            <span>@item.AgentZone1</span>
                                        }
                                        @if (!string.IsNullOrEmpty(item.AgentZone2))
                                        {
                                            <span>-@item.AgentZone2</span>
                                        }
                                        @if (!string.IsNullOrEmpty(item.AgentZone3))
                                        {
                                            <span>-@item.AgentZone3</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="javascript:;" onclick="showAssignPanel(@item.Id)">分配售后</a> |
                                        <a href="/Customer/Detail/@item.Id">详情</a> |
                                        <a href="javascript:;" onclick="deleteConfirm(@item.Id)">删除</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="10" style="text-align:center">没有数据</td></tr>
                        }
                    </tbody>
                </table>
                <html-pager pager-option="ViewBag.PagerOption as PagerOption"></html-pager>
            </div>
        </div>
    </div>
</div>


<!--分配售后-->
<div class="modal modal-webpi" id="panelAssign" style="width:500px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>分配售后</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <input type="hidden" id="assignResourceId" />
                <table>
                    <tr>
                        <td style="width:140px">请选择售后服务专员：</td>
                        <td>
                            <select id="assignSelectGroup" class="chzn-select span4">
                                <option value="">请选择业务</option>
                                @if (Model.OrgUsers != null && Model.OrgUsers.Count > 0)
                                {
                                    foreach (var user in Model.OrgUsers)
                                    {
                                        <option value="@user.Id">@user.RealName/@user.UserName</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="assignTips" style="padding:3px;color:red;display:none">请选择你要分配的业务人员。</div>
                <div style="margin-top:20px">
                    <input type="button" value="确定" class="btn btn-inverse" onclick="serviceAssign()" />
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--客户删除确认-->
<div class="modal modal-webpi" id="panelAlert" style="width:300px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>提示</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <h4>确定要删除吗？</h4>

                <div style="margin-top:20px">
                    <input type="button" value="删除" class="btn btn-danger" onclick="deleteInvoker(this)" />
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--操作结果-->
<div class="modal modal-webpi" id="panelResult" style="width:500px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>结果</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <span id="spanResult">操作已成功！</span>
                <div style="margin-top:20px">
                    <input type="button" value="关闭" class="btn btn-default" onclick="closeModal(this,reload)" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/vendors/chosen.jquery.min.js"></script>
    <script src="~/assets/province.js"></script>
    <script type="text/javascript">
        // 弹出资源分配模态窗体
        function showAssignPanel(customerId) {
            if (customerId) {
                $('#hidCurrentCustomerId').val(customerId);
                $('#hidOperType').val('1');
            }
            else {
                $('#hidOperType').val('2');
            }
            modalShow($('#panelAssign'));
        }


        function projectChange(e) {
            var projectId = $(e).find("option:selected").val();
            $("#bid option").not(":first").remove();
            $.get("/Brand/GetBrandsByProjectId", { "projectId": projectId }, function (data) {
                if (data) {
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        var option = '<option value="' + item.id + '">' + item.brandName + '</option>';
                        $('#bid').append(option);
                    }
                }
            });
        }

        function provinceChange() {
            // 生成市级下拉框
            var province = $('#provinceSelect').find("option:selected").val();
            zoneInit.renderCity(province, 'citySelect');
        }
        function cityChange() {
            var province = $('#provinceSelect').find("option:selected").val();
            var city = $('#citySelect').find("option:selected").val();
            zoneInit.renderDistrict(province, city, 'districtSelect');
        }

        // 全部取消/全部选中
        function checkToggle() {
            $('input[name="ckCustomer"]').each(function () {
                $(this).prop('checked', $('#ckAll').prop('checked'))
            });


            var customerIdArr = [];//资源所属项目
            $("input[name='ckCustomer']:checked").each(function () {
                var customerId = $(this).val();
                customerIdArr.push(customerId);
            });

            if (customerIdArr.length > 0) {
                $('#btnBatchAssign').show();
            }
            else {
                $('#btnBatchAssign').hide();
            }
        }
        function ckClick() {
            var customerIdArr = [];//资源所属项目
            $("input[name='ckCustomer']:checked").each(function () {
                var customerId = $(this).val();
                customerIdArr.push(customerId);
            });

            if (customerIdArr.length > 0) {
                $('#btnBatchAssign').show();
            }
            else {
                $('#btnBatchAssign').hide();
            }
        }

        // 分配售后
        function serviceAssign() {
            var type = $('#hidOperType').val();
            if (type == "1") {
                // 单个分配
                var customerId = $('#hidCurrentCustomerId').val();
                var userId = $('#assignSelectGroup').find("option:selected").val();
                if (userId > 0) {
                    //closeModal($('#panelAssign'));
                    $('#panelAssign').hide();
                    $.get("/Customer/AssignServiceUser", { "customerIds": customerId, "userId": userId }, function (count) {
                        if (count > 0) {
                            $('#spanResult').attr("class", "panel-alert-info");
                            $('#spanResult').html('操作已成功！');
                        }
                        else {
                            $('#spanResult').attr("class", "panel-alert-error");
                            $('#spanResult').html('抱歉，操作失败！请重试。');
                        }
                        modalShow($('#panelResult'));
                    });
                }
                else {
                    alert('请选择售后服务专员！');
                }
            }
            else if (type == "2") {
                // 批量分配
                batchServiceAssign();
            }
        }

        // 批量分配售后
        function batchServiceAssign() {
            var customerIdArr = [];//资源所属项目
            $("input[name='ckCustomer']:checked").each(function () {
                var customerId = $(this).val();
                customerIdArr.push(customerId);
            });

            var userId = $('#assignSelectGroup').find("option:selected").val();
            if (userId > 0) {
                if (customerIdArr.length) {
                    //closeModal($('#panelAssign'));
                    $('#panelAssign').hide();
                    var customerIds = customerIdArr.join(',');
                    $.get("/Customer/AssignServiceUser", { "customerIds": customerIds, "userId": userId }, function (count) {
                        if (count > 0) {
                            $('#spanResult').attr("class", "panel-alert-info");
                            $('#spanResult').html('操作已成功！');
                        }
                        else {
                            $('#spanResult').attr("class", "panel-alert-error");
                            $('#spanResult').html('抱歉，操作失败！请重试。');
                        }
                        modalShow($('#panelResult'));
                    });
                }
                else {
                    $('#spanResult').attr("class", "panel-alert-error");
                    $('#spanResult').html('请先选择客户！');
                    modalShow($('#panelResult'));
                }
            }
            else {
                alert('请选择售后服务专员！');
            }
        }


        // 删除资源确认
        function deleteConfirm(id) {
            var panel = $('#panelAlert');
            panel.attr("param-id", id);
            modalShow(panel);
        }
        // 删除调用器
        function deleteInvoker(e) {
            var id = $(e).parents(".modal").attr("param-id");
            if (id) {
                deleteCustomer(id);
            }
        }
        function deleteCustomer(id) {
            $.get("/Customer/DeleteCustomer", { "id": id }, function (result) {
                if (result) {
                    $('#successAlert').find("strong").html('删除成功！');
                    $('#successAlert').show();
                    reload();
                }
                else {
                    $('#errorAlert').find("strong").html('抱歉，删除失败！');
                    $('#errorAlert').show();
                }
                modalClose($('#panelAlert'));
            });
        }


        function reload() {
            window.location.reload();
        }

        $(document).ready(function () {
            // jquery-chosen下拉控件初始化
            $(".chzn-select").chosen({
                width: '190px', no_results_text: "没有业务员"
            });
            // 还原品牌
            var projectId = $('#pid').find("option:selected").val();
            var brandId = $('#hidBrandId').val();
            $("#bid option").not(":first").remove();
            $.get("/Brand/GetBrandsByProjectId", { "projectId": projectId }, function (data) {
                if (data) {
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        var opt = '';
                        if (item.id == brandId) {
                            opt = '<option value="' + item.id + '" selected="selected">' + item.brandName + '</option>';
                        }
                        else {
                            opt = '<option value="' + item.id + '">' + item.brandName + '</option>';
                        }
                        $('#bid').append(opt);
                    }
                }
            });
        });
        // 生成省下拉框
        zoneInit.renderProvince('provinceSelect');

        $('#provinceSelect').val($('#hidZone1').val());
        provinceChange();
        $('#citySelect').val($('#hidZone2').val());
        cityChange();
        $('#districtSelect').val($('#hidZone3').val());
    </script>
}
