@model  Orion.CRM.WebApp.Models.AppUser.AppUserViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<h3>编辑用户</h3>

<div class="row-fluid">
    <div class="block" style="margin:0px">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">编辑用户</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <form class="form-horizontal" method="post" action="/AppUser/EditHandler">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" id="groupIdHidden" value="@Model.GroupId" />
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">用户名<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="span5" asp-for="@Model.UserName" reg="regStr" maxlength="20" is-null="required" placeholder="用户名" disabled="disabled" />
                            <p class="help-block">用户名由2-20位英文字母或数字组成</p>
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">真实姓名<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="span5" asp-for="@Model.RealName" reg="regChinese" maxlength="7" is-null="required" placeholder="真实姓名" />
                            <br />
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">手机</label>
                        <div class="controls">
                            <input type="text" class="span5" asp-for="@Model.Mobile" reg="regMobile" maxlength="11" placeholder="手机号码" />
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">微信</label>
                        <div class="controls">
                            <input type="text" class="span5" asp-for="@Model.Wechat" reg="regWechat" maxlength="20" placeholder="微信号" />
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">邮箱</label>
                        <div class="controls">
                            <input type="text" class="span5" asp-for="@Model.Email" reg="regString" maxlength="20" placeholder="邮箱，可以用来找回密码" />
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">角色<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span5 m-wrap" name="RoleId" id="RoleId" reg="regNum" is-null="required" placeholder="角色">
                                <option value="">请选择</option>
                                @if (Model.RoleList != null) {
                                    foreach (var role in Model.RoleList) {
                                        if (Model.RoleId == role.Id) {
                                            <option value="@role.Id" selected="selected">@role.RoleName</option>
                                        }
                                        else {
                                            <option value="@role.Id">@role.RoleName</option>
                                        }
                                    }
                                }
                            </select>
                            <p class="help-block">请为用户指定一个角色，不同角色的权限不同</p>
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">所属项目</label>
                        <div class="controls">
                            <select class="span5 m-wrap" name="ProjectId" id="ProjectId" reg="regNum" placeholder="所属项目" onchange="projectChange()">
                                <option value="">请选择</option>
                                @if (Model.ProjectList != null) {
                                    foreach (var project in Model.ProjectList) {
                                        if (Model.ProjectId == project.Id) {
                                            <option value="@project.Id" selected="selected">@project.ProjectName</option>
                                        }
                                        else {
                                            <option value="@project.Id">@project.ProjectName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">所属组</label>
                        <div class="controls">
                            <select class="span5 m-wrap" name="GroupId" id="GroupId" reg="regNum" placeholder="业务组">
                                <option value="">请选择</option>
                                @if (Model.GroupList != null) {
                                    foreach (var group in Model.GroupList) {
                                        if (Model.GroupId == group.Id) {
                                            <option value="@group.Id" selected="selected">@group.GroupName</option>
                                        }
                                        else {
                                            <option value="@group.Id">@group.GroupName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label" style="margin-top:-4px">状态<span class="tip">*</span></label>
                        <div class="form-inline">
                            <label class="nebula-label">
                                @if (Model.Enable == 1) {
                                    <input class="nebula-radio" type="radio" name="Enable" value="1" checked="checked" />
                                }
                                else {
                                    <input class="nebula-radio" type="radio" name="Enable" value="1" />
                                }
                                <span class="nebula-radioInput"></span>启用
                            </label>
                            <label class="nebula-label">
                                @if (Model.Enable == 0) {
                                    <input class="nebula-radio" type="radio" name="Enable" value="0" checked="checked" />
                                }
                                else {
                                    <input class="nebula-radio" type="radio" name="Enable" value="0" />
                                }
                                <span class="nebula-radioInput"></span>禁用
                            </label>
                        </div>
                    </div>

                    <div class="form-actions" style="padding-left:140px">
                        <button type="submit" class="btn btn-primary" onclick="return validateForm()">保存</button>
                        <button type="button" class="btn btn-default" onclick="javascript: window.location = '/AppUser/List';">返回</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var rootNode = $('form');
            rootNode.on('blur', 'input,select', function () {
                // 为表单中的文本框,下拉框绑定onfocus事件
                if ($(this).attr("reg")) {
                    inputCheck($(this));
                }
            });

            projectChange(function () {
                $("#GroupId").val($('#groupIdHidden').val());
            });
            
        });

        function projectChange(callback) {
            var projectId = $("#ProjectId").find("option:selected").val();
            $.get("/Group/GetGroupsByProjectId", { "projectId": projectId }, function (data) {
                $("#GroupId option").not(":first").remove();
                if (data) {
                    for (var i = 0; i < data.length; i++) {
                        var group = data[i];
                        var option = '<option value="' + group.id + '">' + group.groupName + '</option>';
                        $('#GroupId').append(option);
                    }
                    callback();
                }
            });
        }

        function validateForm() {
            var result = true;
            var firstEmpty;

            try {
                $('form').find("input,select").each(function () {
                    var res = inputCheck($(this));
                    if (!res) {
                        result = res;
                        if (!firstEmpty) {
                            firstEmpty = $(this);
                        }
                    }
                });
            }
            catch (ex) {
                result = false;
                console.info('表单验证过程中发现异常：' + ex);
            }

            if (firstEmpty) {
                firstEmpty.focus();
            }
            console.info('表单验证结果：' + result);

            return result;
        }
    </script>
}