@using Orion.CRM.WebApp
@model List<Orion.CRM.WebApp.Models.AppUser.AppUserViewModel>

@using Orion.CRM.WebApp.App_Data
@addTagHelper "Orion.CRM.WebApp.App_Data.HtmlPagerTagHelper,Orion.CRM.WebApp"
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">用户管理</h3>
    </div>
    <div class="panel-body" style="padding-right:20px">
        <div class="form-group">
            <a href="/AppUser/Create" class="btn btn-default">
                Add New <i class="icon-plus"></i>
            </a>
        </div>

        @if (TempData["result"] != null) {
            if ((bool)TempData["result"]) {
                <!--操作成功通知-->
                <div class="alert alert-success" id="successAlert" style="margin:10px 0px;">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>操作成功！</strong>
                </div>
            }
            else {
                <!--操作失败通知-->
                <div class="alert alert-error" id="errorAlert" style="margin:10px 0px;">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>抱歉，操作失败，请重新尝试！</strong>
                </div>
            }
        }

        <table class="table table-bordered" style="margin-top:8px">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    @*<th>手机</th>*@
                    <th>可用状态</th>
                    <th>角色</th>
                    <th>所属项目</th>
                    <th>所属业务组</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null) {
                    for (int i = 0; i < Model.Count; i++) {
                        var item = Model[i];
                        <tr>
                            <td style="width:40px">@((ViewBag.PagerOption.PageIndex - 1) * ViewBag.PagerOption.PageSize + i + 1)</td>
                            <td style="width:100px">@item.UserName</td>
                            <td style="width:80px">@item.RealName</td>
                            <td>@Html.Raw((item.Enable == 1 ? "可用" : "<span class='tip'>禁用</span>"))</td>
                            <td style="width:70px">@item.RoleName</td>
                            <td style="width:90px">@(string.IsNullOrEmpty(item.ProjectName) ? "-" : item.ProjectName)</td>
                            <td>@(string.IsNullOrEmpty(item.GroupName) ? "-" : item.GroupName)</td>
                            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td style="width:100px">
                                <div class="btn-group">
                                    <a class="btn btn-small dropdown-toggle" style="font-size:13px" data-toggle="dropdown" href="#">
                                        操作
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/AppUser/Edit/@item.Id">编辑</a></li>
                                        <li><a href="#">删除</a></li>
                                        <li><a href="/AppUser/ResetPassword/@item.Id">重置密码</a></li>
                                        @if(item.ProjectId != null && item.GroupId != null) { 
                                            <li class="divider"></li>
                                            <li><a href="/AppUser/ResourceExport/@item.Id">资源导出</a></li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td colspan="10" style="text-align:center">没有数据</td>
                    </tr>
                }
            </tbody>
        </table>
        <html-pager pager-option="ViewBag.PagerOption as PagerOption"></html-pager>
    </div>
</div>

<!--delete confirm-->
<div class="modal modal-webpi" id="panelAlert" style="width:500px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>提示</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <h4 id="tip-content">确定要删除吗？</h4>
                <label style="color:red;display:none" id="tip-desc">删除后不会删除与之绑定的资源，只会将这些资源的“来源”置为空。</label>
                <div style="margin-top:20px">
                    <input type="button" value="删除" class="btn btn-danger" onclick="deleteInvoker(this)" />
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function deleteUser(id) {
            if (confirm("你确认要删除吗？")){
                $.get("/AppUser/DeleteUser", { "id": id }, function (data) {
                    if (data) {
                        alert('删除成功！');
                        window.location = "/Role/RoleList";
                    }
                    else {
                        alert('删除失败！');
                    }
                });
            }
        }

        //$(function () {
        //    var operateResult = $('#hidOperateResult').val();
        //    if (operateResult) {
        //        if (operateResult == "success") {
        //            $(".alert>span").html('操作成功！');
        //        }
        //        else if (operateResult == "fail") {
        //            $(".alert>span").html('操作失败！');
        //        }
        //        $(".alert").show();
        //    }
        //});
    </script>
}

