@using Orion.CRM.ConsoleApp
@model List<Orion.CRM.ConsoleApp.Models.User.AppUserViewModel>

@addTagHelper "Orion.CRM.ConsoleApp.PagerTagHelper,Orion.CRM.ConsoleApp"
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="active">用户管理</li>
</ol>

<div class="alert" style="display:none">
    <span></span><i class="glyphicon glyphicon-remove"></i>
</div>

<input type="hidden" id="hidOperateResult" value="@ViewBag.OperateResult" />
<div class="panel panel-default" style="width:700px">
    <div class="panel-heading">
        <h3 class="panel-title">用户列表</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <a href="/AppUser/Create" class="btn btn-default">
                Add New <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th>手机</th>
                    <th>可用状态</th>
                    <th>所属组织机构</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null) {
                    for (int i = 0; i < Model.Count; i++) {
                        var item = Model[i];
                        <tr>
                            <td>@((ViewBag.PagerOption.PageIndex - 1) * ViewBag.PagerOption.PageSize + i + 1)</td>
                            <td>@item.UserName</td>
                            <td>@item.RealName</td>
                            <td>@item.Mobile</td>
                            <td>@item.Enable</td>
                            <td>@item.OrgName</td>
                            <td>@item.CreateTime</td>
                            <td>
                                <a href="/AppUser/Edit/@item.Id">编辑</a>
                                @*<a href="javascript:;" onclick="deleteUser(@item.Id)">删除</a>*@
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td colspan="8" style="text-align:center">没有数据</td>
                    </tr>
                }
            </tbody>
        </table>
        <pager pager-option="ViewBag.PagerOption as PagerOption"></pager>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function deleteUser(id) {
            if (confirm("你确认要删除吗？")){
                $.get("/AppUser/DeleteUser", { "id": id }, function (data) {
                    if (data) {
                        alert('删除成功！');
                        window.location = "/Role/RoleList";
                    }
                    else {
                        alert('删除失败！');
                    }
                });
            }
        }

        $(function () {
            var operateResult = $('#hidOperateResult').val();
            if (operateResult) {
                if (operateResult == "success") {
                    $(".alert>span").html('操作成功！');
                }
                else if (operateResult == "fail") {
                    $(".alert>span").html('操作失败！');
                }
                $(".alert").show();
            }
        });
    </script>
}

