@model Orion.CRM.WebApp.Models.Resource.ResourceViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        /*.control-group>label{ width:120px !important}
        .control-group>div{ margin-left:140px !important}*/
    </style>
}

<h3>资源录入</h3>

<div class="row-fluid">
    <!-- block -->
    <div class="block" style="margin:0px">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">资源录入</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                @if (TempData["result"] != null) {
                    if ((bool)TempData["result"]) {
                        <!--操作成功通知-->
                        <div class="alert alert-success" id="successAlert" style="max-width:540px;margin:10px 0px 20px 55px">
                            <button class="close" data-dismiss="alert">×</button>
                            <span>添加成功！</span>
                        </div>
                    }
                    else {
                        <!--操作失败通知-->
                        <div class="alert alert-error" id="errorAlert" style="max-width:540px;margin:10px 0px 20px 55px">
                            <button class="close" data-dismiss="alert">×</button>
                            <span>添加失败，请重试！</span>
                        </div>
                    }
                }
                
                <form class="form-horizontal" method="post" action="/Resource/AddHandler">
                    <div class="control-group" style="margin-top:10px">
                        <label class="control-label">客户姓名<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="span6" asp-for="@Model.CustomerName" placeholder="客户姓名" reg="regString" is-null="required" maxlength="15" />
                            <p class="help-block">请输入客户的姓名，如不明确请填写"未知"</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">留言项目<span class="required">*</span></label>
                        <div class="controls">                      
                            @if (Model.Projects != null && Model.Projects.Count > 0) {
                                <select class="span6 m-wrap" name="ProjectId" placeholder="留言项目" is-null="required" reg="regNum">
                                    <option value="">请选择...</option>
                                    @foreach (var item in Model.Projects) {
                                        if (item.Id == Model.ProjectId) {
                                            <option value="@item.Id" selected="selected">@item.ProjectName</option>
                                        }
                                        else {
                                            <option value="@item.Id">@item.ProjectName</option>
                                        }
                                    }
                                </select>
                                <p class="help-block">请选择用户留言的项目</p>
                            }
                            else {
                                <span>没有项目！请先<a href="/Project/Create">创建项目</a>。</span>
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">手机号码</label>
                        <div class="controls">
                            <input type="text" class="span6" asp-for="@Model.Mobile" placeholder="手机号码" reg="regMobile" maxlength="11" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">微信</label>
                        <div class="controls">
                            <input type="text" class="span6" asp-for="@Model.Wechat" placeholder="微信" reg="regWechat" maxlength="20" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">QQ</label>
                        <div class="controls">
                            <input type="text" class="span6" asp-for="@Model.QQ" placeholder="QQ" reg="regNum" maxlength="12" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <input type="text" class="span6" asp-for="@Model.Email" placeholder="Email" reg="regEmail" maxlength="50" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">地址</label>
                        <div class="controls">
                            <input type="text" class="span6" asp-for="@Model.Address" placeholder="客户联系地址" reg="regString" maxlength="50" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">来源</label>
                        <div class="controls">
                            <select class="span6 m-wrap" name="SourceFrom" placeholder="来源" reg="regNum">
                                <option value="">请选择...</option>
                                @if (Model.Sources != null) {
                                    foreach (var item in Model.Sources) {
                                        <option value="@item.Id">@item.SourceName</option>
                                    }
                                }
                            </select>
                            <p class="help-block">请选择资源的来源</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">初步意向</label>
                        <div class="controls">
                            <select class="span6 m-wrap" name="Inclination" placeholder="初步意向"  reg="regNum">
                                <option value="">请选择...</option>
                                @if (Model.Inclinations != null) {
                                    @foreach(var item in Model.Inclinations) { 
                                        <option value="@item.value">@item.displayText</option>
                                    }
                                }
                            </select>
                            <p class="help-block">如不明确，可以不选择</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">备注</label>
                        <div class="controls">
                            <textarea style="margin: 0px; width: 355px; height: 50px;" asp-for="@Model.Remark" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">留言内容</label>
                        <div class="controls">
                            <textarea style="margin: 0px; width: 474px; height: 63px;" asp-for="@Model.Message" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-actions" style="padding-left:140px">
                        <button type="submit" class="btn btn-primary" onclick="return checkForm()">保&nbsp;&nbsp;存</button>
                        <a href="/Resource/List" class="btn">返回</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- /block -->
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var rootNode = $('form');
            rootNode.on('blur', 'input,select', function () {
                // 为表单中的文本框,下拉框绑定onfocus事件
                if ($(this).attr("reg")) {
                    inputCheck($(this));
                }
            });
        });

        function checkForm() {
            var result = true;
            var firstEmpty;

            try{
                $('form').find("input,select").each(function () {
                    var res = inputCheck($(this));
                    if (!res) {
                        result = res;
                        if (!firstEmpty) {
                            firstEmpty = $(this);
                        }
                    }
                });
            }
            catch (ex) {
                result = false;
                console.info('表单验证过程中发现异常：' + ex);
            }

            if(firstEmpty){
                firstEmpty.focus();
            }
            console.info('表单验证结果：' + result);

            return result;
        }

    </script>

}
