@model Orion.CRM.WebApp.Models.Resource.ResourceDetailViewModel
@using Orion.CRM.WebApp.App_Data

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.CustomerName - 资源详情</title>
    <link href="/css/customer.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @if (TempData["result"] != null) {
            if ((bool)TempData["result"]) {
            <!--操作成功通知-->
                <div class="self-alert">保存成功！</div>
            }
            else {
            <!--操作失败通知-->
                <div class="self-alert">抱歉，保存失败，请重试！</div>
            }
        }

        <div class="title gradient">客户信息</div>
        <div class="content">
            <form action="/Resource/DetailHandler" method="post">
                <input type="hidden" asp-for="@Model.ResourceId" />
                <table class="table-customer">
                    <tr>
                        <td style="width:70px">客户姓名</td>
                        <td style="width:220px">
                            <input type="text" asp-for="@Model.CustomerName" class="input" maxlength="20" />
                        </td>
                        <td style="width:70px">手机</td>
                        <td style="width:220px">
                            @if (Model.ResourceEdit || string.IsNullOrEmpty(Model.Mobile)) { 
                                <input type="text" asp-for="@Model.Mobile" class="input" reg="regMobile" maxlength="11" />
                            }
                            else {
                                @Model.Mobile
                                <input type="hidden" asp-for="@Model.Mobile" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>微信</td>
                        <td>
                            @if (Model.ResourceEdit || string.IsNullOrEmpty(Model.Wechat)) { 
                                <input type="text" asp-for="@Model.Wechat" class="input" maxlength="20" reg="regWechat" />
                            }
                            else {
                                @Model.Wechat
                                <input type="hidden" asp-for="@Model.Wechat" />
                            }
                        </td>
                        <td>QQ</td>
                        <td>
                            @if (Model.ResourceEdit || string.IsNullOrEmpty(Model.QQ)) { 
                                <input type="text" asp-for="@Model.QQ" class="input" maxlength="12" reg="regNum" />
                            }
                            else {
                                @Model.QQ
                                <input type="hidden" asp-for="@Model.QQ" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>座机</td>
                        <td>
                            @if (Model.ResourceEdit || string.IsNullOrEmpty(Model.Tel)) { 
                                <input type="text" asp-for="@Model.Tel" class="input" />
                            }
                            else {
                                @Model.Tel
                                <input type="hidden" asp-for="@Model.Tel" />
                            }
                        </td>
                        <td>来源</td>
                        <td>
                            @if (Model.ResourceEdit || Model.SourceFrom == null) {
                                <select asp-for="@Model.SourceFrom" class="select">
                                    <option value="">请选择</option>
                                    @if (Model.SourceList != null) {
                                        foreach (var source in Model.SourceList) {
                                            if (source.Id == Model.SourceFrom) {
                                            <option value="@source.Id" selected="selected">@source.SourceName</option>
                                            }
                                            else {
                                            <option value="@source.Id">@source.SourceName</option>
                                            }
                                        }
                                    }
                                </select>
                            }
                            else {
                                var source = Model.SourceList.FirstOrDefault(x => x.Id == Model.SourceFrom);
                                if (source != null) { @source.SourceName}
                                <input type="hidden" asp-for="@Model.SourceFrom" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>客户性别</td>
                        <td>
                            <select asp-for="@Model.Sex" class="select">
                                <option value="">请选择</option>
                                @if (Model.Sex == 1) {
                                    <option value="1" selected="selected">男</option>
                                }
                                else {
                                    <option value="1">男</option>
                                }
                                @if (Model.Sex == 2) {
                                    <option value="2" selected="selected">女</option>
                                }
                                else {
                                    <option value="2">女</option>
                                }
                            </select>
                        </td>
                        <td>意向</td>
                        <td>
                            <select asp-for="@Model.Inclination" class="select">
                                <option value="">请选择</option>
                                @if (Model.InclinationList != null) {
                                foreach (var inc in Model.InclinationList) {
                                    if (inc.value == Model.Inclination) {
                                        <option value="@inc.value" selected="selected">@inc.displayText</option>
                                    }
                                    else {
                                        <option value="@inc.value">@inc.displayText</option>
                                    }
                                }
                            }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>地址</td>
                        <td><input type="text" asp-for="@Model.Address" class="input" maxlength="50" /></td>
                        <td>资源状态</td>
                        <td>
                            <select asp-for="@Model.Status" class="select">
                                <option value="">请选择</option>
                                @if (Model.StatusList != null) {
                                foreach (var status in Model.StatusList) {
                                    if (status.value == Model.Status) {
                                        <option value="@status.value" selected="selected">@status.displayText</option>
                                    }
                                    else {
                                        <option value="@status.value">@status.displayText</option>
                                    }
                                }
                            }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>其他说明</td>
                        <td colspan="3">
                            <textarea asp-for="@Model.Remark" style="width:396px;height:80px" class="textarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:center;padding-top:0px">
                            <input type="button" value="保存信息" onclick="customerSave()" class="input" style="cursor:pointer" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="title gradient">洽谈记录</div>
        <div class="content">
            <table class="table-talk" style="width:700px">
                <thead>
                    <tr>
                        <th style="width:120px;text-align:left">时间</th>
                        <th style="width:70px;text-align:left">洽谈人</th>
                        <th style="width:85px;text-align:left">洽谈方式</th>
                        <th style="width:300px;text-align:left">小结</th>
                        <th style="width:70px;text-align:center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TalkRecords != null && Model.TalkRecords.Count > 0) {
                        foreach (var record in Model.TalkRecords) {
                            if(record.Type == 0) { 
                                <tr>
                                    <td>@record.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td>@record.RealName</td>
                                    <td>@AppDTO.TalkWayCollection[record.TalkWay]</td>
                                    <td>@record.TalkResult</td>
                                    <td style="text-align:center"><a href="javascript:;" onclick="delTalkRecord(@record.Id)" >删除</a></td>
                                </tr>
                            }
                            else {
                                <tr>
                                    <td>@record.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td colspan="4">@record.TalkResult</td>
                                </tr>
                            }
                        }
                    }
                    else {
                        <tr>
                            <td colspan="5">还没有洽谈记录</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table style="border-collapse:collapse;margin-top:20px">
                <tr>
                    <td>
                        洽谈方式：
                    </td>
                    <td style="width:110px">
                        <select id="talkWay" class="select">
                            <option value="1">电话</option>
                            <option value="2">网聊</option>
                            <option value="3">面谈</option>
                            <option value="4">Email</option>
                            <option value="5">其他</option>
                        </select>
                    </td>
                    <td>小结：</td>
                    <td style="width:320px">
                        <textarea style="width:300px;height:30px" id="talkResult"></textarea>
                    </td>
                    <td>
                        <input type="button" value="添加" style="cursor:pointer" class="input" onclick="addTalkRecord()" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top:33px;display:none">
            <a href="javascript:;" onclick="javascript:window.close()" class="close_page">关闭页面</a>
        </div>
        @if (Model.Sign != null && Model.Sign.Amount > 0) {
            <div class="title gradient">签约</div>
            <div class="content">
                <span style="color:green">已签约。</span><br />
                <span>签约金额@(Model.Sign.Amount)元。签约人：<b>@Model.Sign.SignMan</b>。</span>
            </div>
        }

    </div>
    <div style="padding:2px">
        <a href="javascript:;" onclick="javascript: window.close();" style="font-size:13px;text-decoration:underline">关闭页面</a>
    </div>
    <script src="/vendors/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        var regMobile = /^1[3,4,5,7,8]\d{9}$/;
        var regNum = /^\d+$/;//数字
        var regWechat = /^[a-zA-Z\d_-]{3,}$/;
        /*
        * 保存客户
        */
        function customerSave() {
            var result = checkCustomer();
            if (result) {
                window.document.forms[0].submit();
            }
            else {
                console.info('form validate fail.');
            }
        }
        function checkCustomer() {
            var res = true;
            var customerName = $('#CustomerName').val();
            if (!customerName) {
                res = false;
                alert('客户姓名不能为空！');
                $('#CustomerName').focus();
            }
            else {
                var mobile = $('#Mobile');
                var wechat = $('#Wechat');
                var qq = $('#QQ');
                if (!inputCheck(mobile)) {
                    alert('手机号码格式有误！');
                    mobile.focus();
                    res = false;
                }
                if (!inputCheck(wechat)) {
                    alert('微信号码格式有误！');
                    wechat.focus();
                    res = false;
                }
                if (!inputCheck(qq)) {
                    alert('QQ号码格式有误！');
                    qq.focus();
                    res = false;
                }

            }
            return res;
        }

        /*
        * 添加洽谈记录
        */
        function addTalkRecord() {
            var resourceId = $('#ResourceId').val();
            var talkWay = $('#talkWay').find("option:selected").val();
            var talkResult = $('#talkResult').val();
            if (!talkResult) {
                alert('洽谈小结不能为空，请填写。');
                $('#talkResult').focus();
            }
            else {
                $.post("/Resource/AddTalkRecord", { "resourceId": resourceId, "talkWay": talkWay, "talkResult": talkResult }, function (data) {
                    if (data) {
                        window.location.reload();
                    }
                    else {
                        alert('抱歉，添加失败！');
                    }
                });
            }
        }
        /*
        * 删除洽谈记录
        */
        function delTalkRecord(id) {
            $.get("/Resource/DelTalkRecord", { "id": id }, function (result) {
                if (result) {
                    window.location.reload();
                }
                else {
                    alert('抱歉，删除失败！');
                }
            });
        }
        /**
        * 通用文本框内容验证方法：使用正则表达式进行文本框输入内容的验证
        * @@param input 文本框对象
        */
        function inputCheck(input) {
            var result = true;
            // validate
            if (input.length > 0) {
                var reg = eval(input.attr("reg"));
                if (reg) {
                    // 验证
                    var required = input.attr("is-null");
                    var val = $(input).val();

                    if (required == "required") {
                        if (!val) {
                            result = false;
                        }
                        else {
                            if (!reg.test(val)) {
                                result = false;
                            }
                        }
                    }
                    else {
                        if (val && !reg.test(val)) {
                            result = false;
                        }
                    }
                }
            }

            return result;
        }
    </script>
</body>
</html>


