@model Orion.CRM.WebApp.Models.Resource.ResourceListViewModel

@using Orion.CRM.WebApp.App_Data
@addTagHelper "Orion.CRM.WebApp.App_Data.HtmlPagerTagHelper,Orion.CRM.WebApp"
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        input[type="radio"], input[type="checkbox"] {
            margin: 0 0 0;
            line-height: normal;
        }

        .search-input {
            border: 1px solid gray;
            border-radius: 1px !important;
            padding: 2px 3px;
            height: 16px !important;
            width: 91px;
            font-size: 12px !important;
        }

        .search-select {
            width: 105px;
            height: 27px;
            border-radius: 1px !important;
            padding: 0px 3px
        }
    </style>
}

<div class="panel panel-default span9">
    <div class="panel-heading">
        <h3 class="panel-title">公共资源</h3>
    </div>

    <div class="panel-body">
        <form action="/Resource/Public" method="get">
            <input type="hidden" id="hidGroupId" value="@ViewBag.UserGroupId" />
            <div class="form-inline">
                <!--电话/微信/QQ-->
                <input type="text" class="search-input" name="key" id="key" value="@Model.Params.key" placeholder="电话/微信/QQ" style="width:140px" />
                <input type="text" class="search-input" name="name" id="name" value="@Model.Params.name" placeholder="姓名" />
                <select name="talk" id="talk" class="search-select">
                    <option value="">洽谈次数</option>
                    @if (Model.TalkCountList != null) {
                        foreach (var talk in Model.TalkCountList) {
                            if (talk.value == Model.Params.talk) {
                                <option value="@talk.value" selected="selected">@talk.displayText</option>
                            }
                            else {
                                <option value="@talk.value">@talk.displayText</option>
                            }
                        }
                    }
                </select>
                <input type="text" class="search-input" placeholder="开始时间" />到<input type="text" class="search-input" placeholder="结束时间" />
                <button type="submit" class="btn btn-default">
                    <i class="icon-search"></i> 查询
                </button>
            </div>
        </form>
        <table class="table table-bordered" style="margin-top:15px;font-size: 13px !important;">
            <thead>
                <tr>
                    <th></th>
                    <th>客户姓名</th>
                    <th>联系方式</th>
                    @*<th>留言时间</th>*@
                    <th>最后时间</th>
                    <th>来源</th>
                    <th>状态</th>
                    <th>意向</th>
                    <th>洽谈数</th>
                    <th>业务员</th>
                    <th>添加人</th>
                    <th>项目</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Resources != null && Model.Resources.Count > 0) {
                    foreach (var resource in Model.Resources) {
                        <tr>
                            <td><input type="checkbox" name="ckResource" value="@resource.Id" /></td>
                            <td><a href="/Resource/Detail/@resource.Id" target="_blank">@resource.CustomerName</a></td>
                            <td>@resource.ContactInfo</td>
                            @*<td>@(resource.MsgTime != null ? Convert.ToDateTime(resource.MsgTime).ToString("yyyy-MM-dd HH:mm") : "-")</td>*@
                            <td>@(resource.LastTime != null ? Convert.ToDateTime(resource.LastTime).ToString("yyyy-MM-dd HH:mm") : "-")</td>
                            <td>@resource.SourceFromText</td>
                            <td>@resource.StatusText</td>
                            <td>@resource.InclinationText</td>
                            <td>@resource.TalkCount</td>
                            <td>@Html.Raw(resource.SaleMan == null ? "<span style='color:red'>未分配</span>" : resource.SaleMan)</td>
                            <td>@resource.AppendMan</td>
                            <td>@resource.ProjectName</td>
                            <td>
                                <a href="javascript:;" onclick="divideToMe(@resource.Id)">划分给自己</a>
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td colspan="12" style="text-align:center">没有数据</td>
                    </tr>
                }
            </tbody>
        </table>
        <html-pager pager-option="ViewBag.PagerOption as PagerOption"></html-pager>
    </div>
</div>

<!--操作结果-->
<div class="modal modal-webpi" id="panelResult" style="width:500px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>结果</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <span id="spanResult">操作已成功！</span>
                <div style="margin-top:20px">
                    <input type="button" value="关闭" class="btn btn-default" onclick="closeModal(this,reload)" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function divideToMe(resourceId) {
            var groupId = $('#hidGroupId').val();
            if (groupId != null && groupId > 0) {
                $.get("/Resource/DivideToMe", { "resourceId": resourceId }, function (result) {
                    if (result) {
                        $('#spanResult').attr("class", "panel-alert-info");
                        $('#spanResult').html('操作已成功！');
                    }
                    else {
                        $('#spanResult').attr("class", "panel-alert-error");
                        $('#spanResult').html('抱歉，操作失败！请重试。');
                    }
                    modalShow($('#panelResult'));
                    setTimeout(reload, 1000);
                });
            }
            else {
                $('#spanResult').attr("class", "panel-alert-error");
                $('#spanResult').html('抱歉，您不是业务人员，无法划分给自己！');
                modalShow($('#panelResult'));
            }
        }

        function reload() {
            window.location.reload();
        }
    </script>
}