@using Orion.CRM.WebApp.App_Data
@model Orion.CRM.WebApp.Models.Resource.CustomerSearchViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="/css/customer.css" rel="stylesheet" />
    <link href="~/assets/pikaday/pikaday.css" rel="stylesheet" />
    <link href="~/assets/pikaday/theme.css" rel="stylesheet" />
    <link href="~/assets/pikaday/triangle.css" rel="stylesheet" />
    <link href="~/vendors/chosen.css" rel="stylesheet" />
    <style type="text/css">
        .search-input {
            border: 1px solid gray;
            border-radius: 2px !important;
            padding: 2px 3px;
            height: 16px !important;
            width: 91px;
            font-size: 12px !important;
            margin-bottom:0px !important;
        }
    </style>
}
@section scripts{
    <script src="~/assets/pikaday/pikaday.js"></script>
    <script src="~/vendors/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            // 日历控件初始化
            var picker = new Pikaday({
                field: document.getElementById('signTime'),
                format: 'YYYY-MM-DD',
                minDate: new Date(2016, 0, 1),
                maxDate: new Date(),
                i18n: {
                    previousMonth: '上一月',
                    nextMonth: '下一月',
                    months: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                    weekdays: ['日', '一', '二', '三', '四', '五', '六'],
                    weekdaysShort: ['日', '一', '二', '三', '四', '五', '六']
                },
                showMonthAfterYear: true,
                theme: 'triangle-theme',
                yearSuffix: '年'
            });

            // jquery-chosen下拉控件初始化
            $(".chzn-select").chosen({
                width: '190px', no_results_text: "没有业务员"
            });
        });

        // 创建一条签约记录
        function createSignRecord() {
            $('#successAlert').hide();
            $('#errorAlert').hide();
            $('#errorTips').hide();

            var res = checkParam();
            if (res.result) {
                $('#errorTips').hide();
                var resourceId = $('#hidResourceId').val();
                var amount = $.trim($('#signAmount').val());
                var signTime = $.trim($('#signTime').val());
                var signUserId = $('#signUser').find("option:selected").val();
                //var signMan = $('#signUser').find("option:selected").text();

                var data = { "Amount": amount, "ResourceId": resourceId, "SignTime": signTime, "SignUserId": signUserId };
                $.post("/Resource/InsertCustomerSign", data , function (result) {
                    if (result) {
                        $('#successAlert').show();
                        var signMan = $('#signUser').find('option:selected').text();
                        var p = signMan.indexOf('/');
                        signMan = signMan.substring(0, p);
                        var signInfo = '';
                        signInfo += '<span style="color:green">已签约。</span><br/>';
                        signInfo += '<span>签约金额' + amount + '元。签约人：<b>' + signMan + '</b>。</span>';
                        $('#signContent').html(signInfo);
                    }
                    else {
                        $('#errorAlert').show();
                    }
                });
            }
            else {
                $('#errorTips').html(res.errorMsg);
                $('#errorTips').show();
                if (res.errorElement) {
                    $(res.errorElement).focus();
                }
            }
        }
        function checkParam() {
            var res = { result: true };

            // 签约金额的校验
            var amount = $.trim($('#signAmount').val());
            var reg1 = eval($('#signAmount').attr("reg"));
            if (amount == "") {
                res.result = false;
                res.errorMsg = '签约金额不能为空！';
                res.errorElement = ('#signAmount');
            }
            else if (amount <= 0 || !reg1.test(amount)) {
                res.result = false;
                res.errorMsg = '签约金额格式有误！';
                res.errorElement = ('#signAmount');
            }

            if(res.result){
                // 签约日期的校验
                var signTime = $.trim($('#signTime').val());
                var reg2 = eval($('#signTime').attr("reg"));
                if (signTime == "") {
                    res.result = false;
                    res.errorMsg = '签约日期不能为空！';
                    res.errorElement = $('#signTime');
                }
                else if (!reg2.test(signTime)) {
                    res.result = false;
                    res.errorMsg = '签约日期格式有误！';
                    res.errorElement = $('#signTime');
                }
                else {
                    // 验证日期是否是一个未来的日期
                    var a = moment(moment().format('YYYY-MM-DD'));
                    var b = moment(signTime);
                    if (a.diff(b) < 0) {
                        res.result = false;
                        res.errorMsg = '签约日期必须在今天或今天之前！';
                        res.errorElement = $('#signTime');
                    }
                }
            }
            if(res.result){
                // 签约用户的校验
                var signUserId = $('#signUser').find("option:selected").val();
                if (!signUserId) {
                    res.result = false;
                    res.errorMsg = '请选择完成签约的业务员！';
                    res.errorElement = $('#signUser');
                }
            }
            console.info(res);
            return res;
        }

    </script>
}

<div class="panel panel-default" style="width:1000px;">
    <div class="panel-heading">
        <h3 class="panel-title">客户查询工具</h3>
    </div>

    <div class="panel-body">
        <form action="/Resource/Search" method="get">
            <div class="form-inline">
                <input type="text" style="width:300px" asp-for="@Model.key" placeholder="姓名/电话/微信/QQ" />
                <button type="submit" class="btn btn-default">
                    <i class="icon-search"></i> 查询
                </button>
            </div>

            @if (Model != null && Model.Id > 0) {
                <input type="hidden" id="hidResourceId" value="@Model.Id" />
                <div style="margin-top:20px">
                    <!--操作成功通知-->
                    <div class="alert alert-success" id="successAlert" style="max-width:750px;margin:10px 0px 20px 0px;display:none">
                        <button class="close" data-dismiss="alert">×</button>
                        <span>恭喜您，操作成功！</span>
                    </div>
                    <!--操作失败通知-->
                    <div class="alert alert-error" id="errorAlert" style="max-width:750px;margin:10px 0px 20px 0px;display:none">
                        <button class="close" data-dismiss="alert">×</button>
                        <span>抱歉，操作失败，请重试！</span>
                    </div>
                    <div class="title gradient">客户信息</div>
                    <div class="content">
                        <input type="hidden" asp-for="@Model.Id" />
                        <table class="table-customer">
                            <tr>
                                <td style="width:70px">客户姓名：</td>
                                <td style="width:220px">@Model.CustomerName</td>
                                <td style="width:70px">手机：</td>
                                <td style="width:220px">@Model.Mobile</td>
                            </tr>
                            <tr>
                                <td>微信：</td>
                                <td>@Model.Wechat</td>
                                <td>QQ：</td>
                                <td>@Model.QQ</td>
                            </tr>
                            <tr>
                                <td>座机：</td>
                                <td>@Model.Tel</td>
                                <td>来源：</td>
                                <td>
                                    @Model.SourceFromText
                                </td>
                            </tr>
                            <tr>
                                <td>客户性别：</td>
                                <td>
                                    @Model.SexText
                                </td>
                                <td>意向：</td>
                                <td>
                                    @Model.InclinationText
                                </td>
                            </tr>
                            <tr>
                                <td>地址：</td>
                                <td>@Model.Address</td>
                                <td>资源状态：</td>
                                <td>
                                    @Model.StatusText
                                </td>
                            </tr>
                            <tr>
                                <td>其他说明：</td>
                                <td colspan="3">
                                    @Model.Remark
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="title gradient">洽谈记录</div>
                    <div class="content">
                        <table class="table-talk" style="width:700px">
                            <thead>
                                <tr>
                                    <th style="width:120px;text-align:left">时间</th>
                                    <th style="width:70px;text-align:left">洽谈人</th>
                                    <th style="width:85px;text-align:left">洽谈方式</th>
                                    <th style="width:400px;text-align:left">结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TalkRecords != null && Model.TalkRecords.Count > 0) {
                                    foreach (var record in Model.TalkRecords) {
                                        if (record.Type == 0) {
                                            <tr>
                                                <td>@record.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                                                <td>@record.RealName</td>
                                                <td>@AppDTO.TalkWayCollection[record.TalkWay]</td>
                                                <td>@record.TalkResult</td>
                                                <td style="text-align:center;width:40px"><a href="javascript:;" onclick="delTalkRecord(@record.Id)">删除</a></td>
                                            </tr>
                                        }
                                        else {
                                            <tr>
                                                <td>@record.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                                                <td colspan="4">@record.TalkResult</td>
                                            </tr>
                                        }
                                    }
                                }
                                else {
                                    <tr>
                                        <td colspan="5">还没有洽谈记录</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="title gradient">签约</div>
                    <div class="content" id="signContent">
                        @if (Model.Sign != null) { 
                            <span style="color:green">已签约。</span><br/>
                            <span>签约金额@(Model.Sign.Amount)元。签约人：<b>@Model.Sign.SignMan</b>。</span>
                        }
                        else {
                            <table>
                                <tr>
                                    <td>合同金额：</td>
                                    <td style="width:120px;vertical-align:middle"><input type="text" id="signAmount" reg="regNum" class="search-input" maxlength="9" /></td>
                                    <td>签约时间：</td>
                                    <td style="width:120px"><input type="text" id="signTime" reg="regDate" class="search-input" /></td>
                                    <td>签约人：</td>
                                    <td style="width:200px">
                                        <select id="signUser" class="chzn-select span4">
                                            <option value="">请选择业务</option>
                                            @if (Model.OrgUsers != null && Model.OrgUsers.Count > 0) {
                                                foreach(var user in Model.OrgUsers) {
                                                    <option value="@user.Id">@user.RealName/@user.UserName</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input type="button" value="添加" onclick="createSignRecord()" class="input" style="padding:2px 4px !important"  />
                                    </td>
                                </tr>
                            </table>
                            <div style="color:red;margin:10px 0px;display:none" id="errorTips"></div>
                        }
                    </div>
                </div>
            }
        </form>
    </div>
</div>
