@model List<Orion.CRM.WebApp.Models.Brand.Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="width:700px">
    <div class="panel-heading">
        <h3 class="panel-title">品牌管理</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <a href="javascript:;" onclick="showEditPanel()" class="btn btn-default">
                新 建 <i class="icon-plus"></i>
            </a>
        </div>

        <!--操作成功通知-->
        <div class="alert alert-success" id="successAlert" style="margin:10px 0px;display:none">
            <button class="close" data-dismiss="alert">×</button>
            <strong></strong>
        </div>
        <!--操作失败通知-->
        <div class="alert alert-error" id="errorAlert" style="margin:10px 0px;display:none">
            <button class="close" data-dismiss="alert">×</button>
            <strong></strong>
        </div>

        <table class="table table-bordered" style="margin-top:8px" id="brands">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>品牌名称</th>
                    <th>所属项目</th>
                    <th>客户数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@item.BrandName</td>
                            <td>@item.ProjectName</td>
                            <td>@(item.CustomerCount)个</td>
                            <td>
                                <a href="javascript:;" onclick="showEditPanel(@item.Id, '@item.BrandName',@item.ProjectId)">编辑</a> |
                                <a href="javascript:;" onclick="deleteConfirm(@item.Id, @item.CustomerCount)">删除</a>
                                @*<a href="javascript:;">查看区域</a>*@
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="5" style="text-align:center">没有数据</td></tr>
                }

            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="brandIdHidden" />
<!--create/edit panel-->
<div class="modal modal-webpi" style="display: none;" id="panelEdit">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>添加-品牌</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <table>
                    <tr>
                        <td style="width:100px;text-align:right"><span class="tip">*</span>品牌名称：</td>
                        <td style="padding-left:10px">
                            <input type="text" placeholder="请输入品牌名称" class="modal-input" id="brandName" maxlength="15" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px;text-align:right"><span class="tip">*</span>所属项目：</td>
                        <td style="padding-left:10px">
                            <select class="search-select" id="selectProject">
                                <option value="">请选择...</option>
                                @if (ViewBag.Projects != null)
                                {
                                    foreach (var project in ViewBag.Projects)
                                    {
                                        if (ViewBag.ProjectId != null && ViewBag.ProjectId == project.Id)
                                        {
                                            <option value="@project.Id" selected="selected">@project.ProjectName</option>
                                        }
                                        else
                                        {
                                            <option value="@project.Id">@project.ProjectName</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="panelTips" style="padding:3px;color:red;display:none;margin-left:22px;margin-top:5px"></div>
                <div style="display:flex;justify-content:flex-end;margin-top:15px">
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" style="margin-right:10px" />
                    <input type="button" value="确定" class="btn btn-success" onclick="saveChange()" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--delete confirm-->
<div class="modal modal-webpi" id="panelAlert" style="width:320px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>提示</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <h4>确定要删除吗？</h4>
                @*<label class="tip">删除后以下数据将同时被删除：</label>
                <ol>
                    <li>该品牌和客户的关联</li>
                    <li>该品牌下绑定的所有区域数据</li>
                </ol>*@
                <div style="margin-top:20px">
                    <input type="button" value="删除" class="btn btn-danger" onclick="deleteInvoker(this)" />
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--操作结果-->
<div class="modal modal-webpi" id="panelResult" style="width:500px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>操作结果</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <span id="spanResult" style="color:red">操作已成功！</span>
                <div style="margin-top:20px">
                    <input type="button" value="关闭" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function showEditPanel(id, brandName, projectId) {
            var panel = $('#panelEdit');
            if (id) {
                panel.find(".modal-contents>h2").html('编辑-品牌');
                $('#brandIdHidden').val(id);
                $('#brandName').val(brandName);
                $('#selectProject').val(projectId);
            }
            else {
                panel.find(".modal-contents>h2").html('添加-品牌');
                $('#brandName').val('');
                $('#brandIdHidden').val('');
            }

            modalShow(panel);
            $('#brandName').focus();
        }
        function saveChange() {
            var brandName = $('#brandName').val();
            var projectId = $('#selectProject').find("option:selected").val();
            if (!brandName) {
                $('#panelTips').html('请输入品牌名称！').show();
                $('#brandName').focus();
                return false;
            }
            else if (!projectId) {
                $('#panelTips').html('请选择品牌所属项目！').show();
                $('#selectProject').focus();
                return false;
            }
            else {
                $('#panelTips').hide();
            }
            var id = $('#brandIdHidden').val();
            if (id) {
                // 修改
                var entity = { "Id": id, "BrandName": brandName, "ProjectId": projectId };
                $.post("/Brand/Update", entity, function (result) {
                    $('#successAlert').hide();
                    $('#errorAlert').hide();
                    if (result) {
                        $('#successAlert').find("strong").html('修改成功！');
                        $('#successAlert').show();
                    }
                    else {
                        $('#errorAlert').find("strong").html('修改失败，请重试！');
                    }
                    modalClose($('#panelEdit'));
                    reloadList();
                });
            }
            else {
                // 新增
                var entity = { "BrandName": brandName, "ProjectId": projectId };
                $.post("/Brand/Insert", entity, function (result) {
                    if (result) {
                        $('#successAlert').find("strong").html('添加成功！');
                        $('#successAlert').show();
                    }
                    else {
                        $('#errorAlert').find("strong").html('添加失败，请重试！');
                        $('#errorAlert').show();
                    }
                    modalClose($('#panelEdit'));
                    reloadList();
                });
            }
        }
        // 删除弹窗确认
        function deleteConfirm(id, count) {
            if (count > 0) {
                $('#spanResult').html('该品牌已与' + count + '个客户关联。禁止删除！');
                modalShow($('#panelResult'));
            }
            else {
                var panel = $('#panelAlert');
                panel.attr("param-id", id);
                modalShow(panel);
            }
        }
        // 删除调用器
        function deleteInvoker(e) {
            var id = $(e).parents(".modal").attr("param-id");
            if (id) {
                deleteBrand(id);
            }
        }

        // 删除操作
        function deleteBrand(id) {
            $.get("/Brand/Delete", { "id": id }, function (result) {
                if (result) {
                    $('#successAlert').find("strong").html('删除成功！');
                    $('#successAlert').show();
                    reloadList();
                }
                else {
                    $('#errorAlert').find("strong").html('抱歉，删除失败！');
                    $('#errorAlert').show();
                }
                modalClose($('#panelAlert'));
            });
        }

        // 异步重载数据列表
        function reloadList() {
            $.get("/Brand/ReloadList", null, function (data) {
                if (data && data.length > 0) {
                    console.info(data);
                    var dataHtml = '';
                    for (var i = 0; i < data.length; i++) {
                        var itemHtml = '';
                        itemHtml += '<tr>';
                        itemHtml += '<td>' + (i + 1) + '</td>';
                        itemHtml += '<td>' + data[i].brandName + '</td>';
                        itemHtml += '<td>' + data[i].projectName + '</td>';
                        itemHtml += '<td>' + data[i].customerCount + '个' + '</td>';
                        itemHtml += '<td>';
                        itemHtml += '<a href="javascript:;" onclick="showEditPanel(' + data[i].id + ', \'' + data[i].brandName + '\',' + data[i].projectId + ')">编辑</a> | ';
                        itemHtml += '<a href="javascript:;" onclick="deleteConfirm(' + data[i].id + ',' + data[i].customerCount +')">删除</a> ';
                        //itemHtml += '<a href="javascript:;">查看区域</a>';
                        itemHtml += '</td>';
                        itemHtml += '</tr>';

                        dataHtml += itemHtml;
                    }
                    $("#brands>tbody").html(dataHtml);
                }
                else {
                    $("#brands>tbody").html('<tr><td colspan="5" style="text-align:center">没有数据</td></tr>');
                }
            });
        }
    </script>
}
