@model  Orion.CRM.WebApp.Models.Role.RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Role/EditHandler" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="panel panel-default" style="width:700px">
        <div class="panel-heading">
            <h3 class="panel-title">编辑角色</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td style="width:150px">角色名称<span class="required">*</span></td>
                    <td>
                        <input type="text" asp-for="@Model.RoleName" class="default-input" placeholder="请填写角色名称" maxlength="20" />
                        <br />
                        <span id="spanRoleNameTips" class="tip" style="display:none">请填写角色名称</span>
                    </td>
                </tr>
                <tr>
                    <td>角色可访问的菜单<span class="required">*</span></td>
                    <td>
                        <span id="spanMenuTips" class="tip" style="display:none">请至少选择一个菜单</span>
                        @if (Model.MenuList != null) {
                            var level1Menus = Model.MenuList.Where(x => x.Parent == null);
                            if (level1Menus != null) {
                                foreach (var mainMenu in level1Menus) {
                                    <table>
                                        <tr>
                                            <td>@mainMenu.MenuName</td>
                                        </tr>
                                        @{ var childMenus = Model.MenuList.Where(x => x.Parent == mainMenu.Id);}
                                        @if (childMenus != null) {
                                            <tr>
                                                <td>
                                                    <ul class="ul-menulist">
                                                        @foreach (var child in childMenus) {
                                                            <li>
                                                                <label style="font-weight:normal">
                                                                    @if (Model.RoleMenus != null && Model.RoleMenus.FirstOrDefault(x => x.MenuId == child.Id) != null) {
                                                                        <input type="checkbox" name="ckRoleMenu" value="@child.Id" checked="checked" /> @child.MenuName
                                                                    }
                                                                    else {
                                                                        <input type="checkbox" name="ckRoleMenu" value="@child.Id" /> @child.MenuName
                                                                    }
                                                                </label>
                                                            </li>
                                                        }
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>角色可访问的数据<span class="tip">*</span></td>
                    <td>
                        <table>
                            <tr>
                                <td>资源可见范围</td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="ul-menulist">
                                        <li>
                                            <label>
                                                <input type="checkbox" checked="checked" disabled="disabled" /> 本人资源
                                                <input type="checkbox" name="ckDataPermission" value="1" checked="checked" style="display:none" />
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                @{ var query2 = Model.RolePermissions?.FirstOrDefault(x => x.PermissionId == 2);}
                                                @if (query2 == null) { 
                                                    @:<input type="checkbox" name="ckDataPermission" value="2" /> 本组资源
                                                }
                                                else {
                                                    @:<input type="checkbox" name="ckDataPermission" value="2" checked="checked" /> 本组资源
                                                }
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                @{ var query3 = Model.RolePermissions?.FirstOrDefault(x => x.PermissionId == 3);}
                                                @if (query3 == null) {
                                                    @:<input type="checkbox" name="ckDataPermission" value="3" /> 本项目资源
                                                }
                                                else {
                                                    @:<input type="checkbox" name="ckDataPermission" value="3" checked="checked" /> 本项目资源
                                                }
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                @{ var query4 = Model.RolePermissions?.FirstOrDefault(x => x.PermissionId == 4);}
                                                @if (query4 == null) {
                                                    @:<input type="checkbox" name="ckDataPermission" value="4" /> 公司资源
                                                }
                                                else {
                                                    @:<input type="checkbox" name="ckDataPermission" value="4" checked="checked" /> 公司资源
                                                }
                                            </label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>资源操作</td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="ul-menulist">
                                        <li>
                                            <label>
                                                @{ var query5 = Model.RolePermissions?.FirstOrDefault(x => x.PermissionId == 5);}
                                                @if (query5 == null) {
                                                    @:<input type="checkbox" name="ckDataPermission" value="5" /> 资源查询
                                                }
                                                else {
                                                    @:<input type="checkbox" name="ckDataPermission" value="5" checked="checked" /> 资源查询
                                                }
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                @{ var query6 = Model.RolePermissions?.FirstOrDefault(x => x.PermissionId == 6);}
                                                @if (query6 == null) {
                                                    @:<input type="checkbox" name="ckDataPermission" value="6" /> 资源分配
                                                }
                                                else {
                                                    @:<input type="checkbox" name="ckDataPermission" value="6" checked="checked" /> 资源分配
                                                }
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                @{ var query7 = Model.RolePermissions?.FirstOrDefault(x => x.PermissionId == 7);}
                                                @if (query7 == null) {
                                                    @:<input type="checkbox" name="ckDataPermission" value="7" /> 资源批量分配
                                                }
                                                else {
                                                    @:<input type="checkbox" name="ckDataPermission" value="7" checked="checked" /> 资源批量分配
                                                }
                                            </label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary" onclick="return validateForm()">保存</button>
            <button type="button" class="btn btn-default" onclick="javascript: window.location = '/Role/List';">返回</button>
        </div>
    </div>
</form>
@section styles{
    <style type="text/css">
        .ul-menulist {
            width: 500px;
            list-style: none;
        }

        .ul-menulist > li {
            float: left;
            padding: 3px 10px;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        var rootNode = $('form');
        rootNode.on('blur', 'input', function () {
            var val = $(this).val();
            if (val) {
                $(this).parent().find(".tip").hide();
            }
            else {
                $(this).parent().find(".tip").show();
            }
        });

        function validateForm() {
            hideTips();
            var validateResult = true;

            if (!$("#RoleName").val()) {
                validateResult = false;
                $('#spanRoleNameTips').show();
                $("#RoleName").focus();
            }
            else {
                var menuArr = [];
                $("input[name='ckRoleMenu']").each(function () {
                    if ($(this).prop("checked")) {
                        menuArr.push($(this).val());
                    }
                });
                if (menuArr.length == 0) {
                    $('#spanMenuTips').show();
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                    validateResult = false;
                }
            }

            console.info("表单验证结果：" + validateResult);
            return validateResult;
        }
        function hideTips() {
            $('#spanRoleNameTips').hide();
            $('#spanMenuTips').hide();
        }
    </script>
}