@model List<Orion.CRM.WebApp.Models.Project.ProjectViewModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="width:700px">
    <div class="panel-heading">
        <h3 class="panel-title">项目管理</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <a href="javascript:;" onclick="showEditPanel()" class="btn btn-default">
                Add New <i class="icon-plus"></i>
            </a>
        </div>

        <!--操作成功通知-->
        <div class="alert alert-success" id="successAlert" style="margin:10px 0px;display:none">
            <button class="close" data-dismiss="alert">×</button>
            <strong></strong>
        </div>
        <!--操作失败通知-->
        <div class="alert alert-error" id="errorAlert" style="margin:10px 0px;display:none">
            <button class="close" data-dismiss="alert">×</button>
            <strong></strong>
        </div>

        <table class="table table-bordered" style="margin-top:8px">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>项目名称</th>
                    <th>业务组</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0) {
                    for (int i = 0; i < Model.Count; i++) {
                        var item = Model[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@item.ProjectName</td>
                            <td>@(item.GroupCount)个</td>
                            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>
                                <a href="javascript:;" onclick="showEditPanel(@item.Id, '@item.ProjectName')">编辑</a>
                                <a href="javascript:;" onclick="deleteConfirm(@item.Id)">删除</a>
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td colspan="5" style="text-align:center">没有数据</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!--create/edit panel-->
<div class="modal modal-webpi" style="display: none;" id="panelEdit">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>添加-项目</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div class="form-inline">
                <input type="text" placeholder="请输入项目名称" class="modal-input" id="projectName" maxlength="15" />
                <input type="hidden" id="projectIdHidden" />
                <input type="button" value="保存" class="btn btn-inverse" style="border-radius:0 !important;padding:4px 8px" onclick="saveChange()" />
            </div>
            <div id="panelTips" style="padding:3px;color:red; display:none" msg="请输入项目名称"></div>
        </div>
    </div>
</div>

<!--delete confirm-->
<div class="modal modal-webpi" id="panelAlert" style="width:320px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>提示</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <h4>确定要删除吗？</h4>
                <label class="tip">删除后以下数据将同时被删除：</label>
                <ol>
                    <li>该项目下所有资源</li>
                    <li>该项目下所有业务组</li>
                    <li>该项目下所有业绩数据</li>
                </ol>
                <div style="margin-top:20px">
                    <input type="button" value="仍要删除" class="btn btn-danger" onclick="deleteInvoker(this)" />
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function showEditPanel(id, projectName) {
            var panel = $('#panelEdit');
            if (id) {
                panel.find(".modal-contents>h2").html('编辑-项目');
                $('#projectIdHidden').val(id);
                $('#projectName').val(projectName);
            }
            else {
                panel.find(".modal-contents>h2").html('添加-项目');
                $('#projectName').val('');
                $('#projectIdHidden').val('');
            }

            modalShow(panel);
            $('#projectName').focus();
        }
        function saveChange() {
            var projectName = $('#projectName').val();
            if (!projectName) {
                $('#panelTips').html($('#panelTips').attr("msg")).show();
                $('#projectName').focus();
                return false;
            }
            else {
                $('#panelTips').hide();
            }
            var id = $('#projectIdHidden').val();
            if (id) {
                // 修改
                var entity = {"Id": id, "ProjectName": projectName };
                $.post("/Project/Update", entity, function (result) {
                    $('#successAlert').hide();
                    $('#errorAlert').hide();
                    if (result) {
                        $('#successAlert').find("strong").html('修改成功！');
                        $('#successAlert').show();
                    }
                    else {
                        $('#errorAlert').find("strong").html('修改失败，请重试！');
                    }
                    modalClose($('#panelEdit'));
                    reloadList();
                });
            }
            else {
                // 新增
                var entity = { "ProjectName": projectName };
                $.post("/Project/Insert", entity, function (result) {
                    if (result) {
                        $('#successAlert').find("strong").html('添加成功！');
                        $('#successAlert').show();
                    }
                    else {
                        $('#errorAlert').find("strong").html('添加失败，请重试！');
                        $('#errorAlert').show();
                    }
                    modalClose($('#panelEdit'));
                    reloadList();
                });
            }
        }
        // 删除弹窗确认
        function deleteConfirm(id) {
            var panel = $('#panelAlert');
            panel.attr("param-id", id);
            modalShow(panel);
        }
        // 删除调用器
        function deleteInvoker(e) {
            var id = $(e).parents(".modal").attr("param-id");
            if (id) {
                deleteSource(id);
            }
        }

        // 删除操作
        function deleteSource(id) {
            $.get("/Project/Delete", { "id": id }, function (result) {
                if (result) {
                    $('#successAlert').find("strong").html('删除成功！');
                    $('#successAlert').show();
                    reloadList();
                }
                else {
                    $('#errorAlert').find("strong").html('抱歉，删除失败！');
                    $('#errorAlert').show();
                }
                modalClose($('#panelAlert'));
            });
        }

        // 异步重载数据列表
        function reloadList() {
            $.get("/Project/ReloadList", null, function (data) {
                if (data && data.length > 0) {
                    console.info(data);
                    var dataHtml = '';
                    for (var i = 0; i < data.length; i++) {
                        var itemHtml = '';
                        itemHtml += '<tr>';
                        itemHtml += '<td>' + (i + 1) + '</td>';
                        itemHtml += '<td>' + data[i].projectName + '</td>';
                        itemHtml += '<td>' + data[i].groupCount + '</td>';
                        itemHtml += '<td>' + moment(data[i].createTime).format('YYYY-MM-DD HH:mm') + '</td>';
                        itemHtml += '<td>';
                        itemHtml += '<a href="javascript:;" onclick="showEditPanel(' + data[i].id + ', \'' + data[i].projectName + '\')">编辑</a> ';
                        itemHtml += '<a href="javascript:;" onclick="deleteConfirm(' + data[i].id + ')">删除</a>';
                        itemHtml += '</td>';
                        itemHtml += '</tr>';

                        dataHtml += itemHtml;
                    }
                    $(".table>tbody").html(dataHtml);
                }
                else {
                    $(".table>tbody").html('<tr><td colspan="5" style="text-align:center">没有数据</td></tr>');
                }
             });
        }
    </script>
}