@model IEnumerable<Orion.CRM.WebApp.Models.Role.RoleMenuComplex>

@if (Model != null) {
    <ul class="nav">
        @foreach (var menu in Model) {
            if (menu.MenuId == ViewBag.TopMenuId) {
                <li class="active" onclick="topMenuClick(@menu.MenuId)">
                    <a href="@menu.URL">@menu.MenuName</a>
                </li>
            }
            else {
                <li onclick="topMenuClick(@menu.MenuId)">
                    <a href="@menu.URL">@menu.MenuName</a>
                </li>
            }
        }
    </ul>
}
