@model List<Orion.CRM.WebApp.Models.Group.Group>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="width:700px">
    <div class="panel-heading">
        <h3 class="panel-title">业务组管理</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <a href="javascript:;" onclick="showEditPanel()" class="btn btn-default">
                新 建 <i class="icon-plus"></i>
            </a>
        </div>

        <!--操作结果 同步-->
        @if (TempData["result"] != null) {
            if ((bool)TempData["result"]) {
                <div class="alert alert-success" id="successAlert" style="margin:10px 0px;">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>操作成功！</strong>
                </div>
            }
            else {
                <div class="alert alert-error" id="errorAlert" style="margin:10px 0px;">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>抱歉，操作失败！请重试。</strong>
                </div>
            }
        }
        <!--操作成功通知 ajax-->
        <div class="alert alert-success" id="successAlert" style="margin:10px 0px;display:none">
            <button class="close" data-dismiss="alert">×</button>
            <strong></strong>
        </div>
        <!--操作失败通知 ajax-->
        <div class="alert alert-error" id="errorAlert" style="margin:10px 0px;display:none">
            <button class="close" data-dismiss="alert">×</button>
            <strong></strong>
        </div>

        <table class="table table-bordered" style="margin-top:8px" id="group-list">
            <thead>
                <tr>
                    <th style="width:60px">序号</th>
                    <th style="width:150px">业务组</th>
                    <th style="width:100px">负责人(组长)</th>
                    <th style="width:80px">业务</th>
                    <th style="width:100px">所属项目</th>
                    <th style="width:150px">操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0) {
                    for (int i = 0; i < Model.Count; i++) {
                        var item = Model[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@item.GroupName</td>
                            <td>@(string.IsNullOrEmpty(item.ManagerName) ? "--" : item.ManagerName)</td>
                            <td>@(item.UserCount)人</td>
                            <td>@item.ProjectName</td>
                            <td>
                                <a href="javascript:;" onclick="showEditPanel(@item.Id, '@item.GroupName', @item.ProjectId)">编辑</a>
                                <a href="javascript:;" onclick="deleteConfirm(@item.Id, '@item.GroupName')">删除</a>
                                <a href="javascript:;" onclick="showLeaderSetPanel(@item.Id,'@item.GroupName','@item.ManagerId')">任命组长</a>
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td colspan="6" style="text-align:center">没有数据</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!--create/edit panel-->
<div class="modal modal-webpi" style="display: none;" id="panelEdit">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>添加-业务组</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <table>
                <tr>
                    <td>组名称：</td>
                    <td>
                        <input type="text" placeholder="请输入业务组名称" class="modal-input" id="groupName" />
                        <input type="hidden" id="groupIdHidden" />
                    </td>
                </tr>
                <tr>
                    <td>所属项目：</td>
                    <td>
                        <select class="search-select" id="selectProject">
                            <option value="">请选择...</option>
                            @if (ViewBag.Projects != null) {
                                foreach (var project in ViewBag.Projects) {
                                    if (ViewBag.ProjectId != null && ViewBag.ProjectId == project.Id) {
                                        <option value="@project.Id" selected="selected">@project.ProjectName</option>
                                    }
                                    else {
                                        <option value="@project.Id">@project.ProjectName</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
            </table>
            <div id="panelTips" style="padding:3px;color:red;display:none"></div>
            <input type="button" value="保 存" class="btn btn-inverse" style="border-radius:0 !important;padding:4px 8px;margin-top:10px" onclick="saveChange()" />
        </div>
    </div>
</div>

<!--delete confirm-->
<div class="modal modal-webpi" id="panelAlert" style="width:500px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>提示</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <h4 id="tip-content">确定要删除吗？</h4>
                <div style="margin-top:20px" id="div-action1">
                    <input type="button" value="删除" class="btn btn-danger" onclick="deleteInvoker(this)" />
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" />
                </div>
                <div style="margin-top:20px;display:none;text-align:right" id="div-action2">
                    <input type="button" value="关闭" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- group leader setter-->
<div class="modal modal-webpi" id="panelLeaderSetter" style="width:500px;display:none" param-id="">
    <a href="javascript:;" class="modal-close" data-s-object-id="webpi(close)" onclick="closeModal(this)">✖</a>
    <div class="modal-contents">
        <h2>组长任命</h2>
        <div style="border:1px solid #e1e2e2;padding:15px;">
            <div>
                <table class="table table-bordered">
                    <tr>
                        <td style="width:100px">业务组：</td>
                        <td>
                            <input type="hidden" id="groupIdInLeaderSetter" />
                            <span id="spanGroupName"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>组长：</td>
                        <td id="groupMembers">

                        </td>
                    </tr>
                </table>
                <div id="leaderSetterTips" style="padding:3px;color:red;display:none">请选择一个成员作为组长。</div>
                <div style="margin-top:20px">
                    <input type="button" value="确定" class="btn btn-inverse" onclick="setGroupLeader(this)" />
                    <input type="button" value="取消" class="btn btn-default" onclick="closeModal(this)" />
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        function showEditPanel(id, groupName, projectId) {
            var panel = $('#panelEdit');
            if (id) {
                panel.find(".modal-contents>h2").html('编辑-业务组');
                $('#groupIdHidden').val(id);
                $('#groupName').val(groupName);
                $('#selectProject').val(projectId);
            }
            else {
                panel.find(".modal-contents>h2").html('添加-业务组');
                $('#groupName').val('');
                $('#groupIdHidden').val('');
            }

            modalShow(panel);
            $('#groupName').focus();
        }
        function saveChange() {
            var checkResult = checkPanel();
            if (checkResult){
                var groupName = $('#groupName').val();
                var projectId = $('#selectProject').find("option:selected").val();

                var id = $('#groupIdHidden').val();
                if (id) {
                    // 修改
                    var entity = { "Id": id, "GroupName": groupName, "ProjectId": projectId };
                    $.post("/Group/Update", entity, function (result) {
                        $('#successAlert').hide();
                        $('#errorAlert').hide();
                        if (result) {
                            $('#successAlert').find("strong").html('修改成功！');
                            $('#successAlert').show();
                        }
                        else {
                            $('#errorAlert').find("strong").html('修改失败，请重试！');
                        }
                        modalClose($('#panelEdit'));
                        reloadList();
                    });
                }
                else {
                    // 新增
                    var entity = { "GroupName": groupName, "ProjectId": projectId };
                    $.post("/Group/Insert", entity, function (result) {
                        if (result) {
                            $('#successAlert').find("strong").html('添加成功！');
                            $('#successAlert').show();
                        }
                        else {
                            $('#errorAlert').find("strong").html('添加失败，请重试！');
                            $('#errorAlert').show();
                        }
                        modalClose($('#panelEdit'));
                        reloadList();
                    });
                }
            }
        }
        // 验证
        function checkPanel() {
            var res = true;
            var groupName = $('#groupName').val();
            var projectId = $('#selectProject').find("option:selected").val();
            if (!groupName) {
                res = false;
                $('#panelTips').html('业务组名称不能为空').show();
                $('#groupName').focus();
            }
            else if (!projectId) {
                res = false;
                $('#panelTips').html('请选择业务组所属项目').show();
                $('#selectProject').focus();
            }
            else {
                $('#panelTips').hide();
            }
            return res;
        }
        // 删除弹窗确认
        function deleteConfirm(id, groupName) {
            var panel = $('#panelAlert');
            panel.attr("param-id", id);

            $.get("/Group/GetGroupMemberCountByGroupId", { "groupId": id }, function (count) {
                if (count > 0) {
                    $('#tip-content').html('"' + groupName + '"下有<span class="tip">' + count + '</span>个成员，请先将这些成员迁入其他组再删除。');
                    //$('#tip-desc').html('抱歉，你需要先将这' + count + '条资源导出后才能删除"' + realName + '"！');
                    $('#tip-desc').show();

                    $('#div-action1').hide();
                    $('#div-action2').show();
                }
                else {
                    $('#tip-content').html('确定要删除"' + groupName + '"吗？');
                    $('#tip-desc').hide();

                    $('#div-action1').show();
                    $('#div-action2').hide();
                }
                modalShow(panel);
            });
        }
        // 删除调用器
        function deleteInvoker(e) {
            var id = $(e).parents(".modal").attr("param-id");
            if (id) {
                $.get("/Group/Delete", { "id": id }, function (result) {
                    if (result) {
                        $('#successAlert').find("strong").html('删除成功！');
                        $('#successAlert').show();
                        reloadList();
                    }
                    else {
                        $('#errorAlert').find("strong").html('抱歉，删除失败！');
                        $('#errorAlert').show();
                    }
                    modalClose($('#panelAlert'));
                });
            }
        }

        function showLeaderSetPanel(id, groupName, managerId) {
            $('#leaderSetterTips').hide();
            $('#groupIdInLeaderSetter').val(id);
            $("#spanGroupName").html(groupName);

            $('#groupMembers').html('');
            $.get("/AppUser/GetUsersByGroupId", { "groupId": id }, function (data) {
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var user = data[i];
                        var checkbox = '';
                        checkbox += '<label class="nebula-label">';
                        checkbox += '<input class="nebula-radio" ' + (managerId == user.id ? "checked='checked'" : "") + ' type="radio" name="groupLeader" value="' + user.id + '" />';
                        checkbox += '<span class="nebula-radioInput"></span>' + user.realName;
                        checkbox += '</label>';
                        $('#groupMembers').append(checkbox);
                    }
                }
                else {
                    $('#groupMembers').html('该业务组暂无用户。');
                }
            });

            modalShow($('#panelLeaderSetter'));
        }
        // 任命组长
        function setGroupLeader() {
            var groupId = $('#groupIdInLeaderSetter').val();
            var managerId = $("input[name='groupLeader']:checked").val();
            if(managerId){
                $.post("/Group/SetGroupLeader", { "Id": groupId, "ManagerId": managerId }, function (data) {
                    window.location = "/Group/List";
                });
            }
            else {
                $('#leaderSetterTips').show();
            }
        }

        // 异步重载数据列表
        function reloadList() {
            $.get("/Group/ReloadList", null, function (data) {
                if (data && data.length > 0) {
                    var dataHtml = '';
                    for (var i = 0; i < data.length; i++) {
                        var itemHtml = '';
                        itemHtml += '<tr>';
                        itemHtml += '<td>' + (i + 1) + '</td>';
                        itemHtml += '<td>' + data[i].groupName + '</td>';
                        itemHtml += '<td>' + (data[i].managerName == null ? "--" : data[i].managerName) + '</td>';
                        itemHtml += '<td>' + data[i].userCount + '人</td>';
                        itemHtml += '<td>' + data[i].projectName + '</td>';
                        itemHtml += '<td>';
                        itemHtml += '<a href="javascript:;" onclick="showEditPanel(' + data[i].id + ', \'' + data[i].groupName + '\',' + data[i].projectId + ')">编辑</a> ';
                        itemHtml += '<a href="javascript:;" onclick="deleteConfirm(' + data[i].id + ')">删除</a> ';
                        itemHtml += '<a href="javascript:;" onclick="showLeaderSetPanel(' + data[i].id + ',\'' + data[i].groupName + '\', ' + data[i].managerId + ')">任命组长</a>';
                        itemHtml += '</td>';
                        itemHtml += '</tr>';

                        dataHtml += itemHtml;
                    }
                    $("#group-list>tbody").html(dataHtml);
                }
                else {
                    $("#group-list>tbody").html('<tr><td colspan="5" style="text-align:center">没有数据</td></tr>');
                }
            });
        }
    </script>
}