@model Orion.CRM.ConsoleApp.Models.Page.PageViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Page/PageList">页面</a></li>
    <li class="active">创建</li>
</ol>

<div class="alert" style="display:none">
    <span></span><i class="glyphicon glyphicon-remove"></i>
</div>

<form action="/Page/CreateHandler" method="post">
    <div class="panel panel-default" style="width:700px">
        <div class="panel-heading">
            <h3 class="panel-title">创建页面</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td>页面名称<span class="required">*</span></td>
                    <td><input type="text" asp-for="@Model.PageName" reg="regString" maxlength="20" /></td>
                </tr>
                <tr>
                    <td>页面URL<span class="required">*</span></td>
                    <td><input type="text" asp-for="@Model.PageURL" reg="regString" maxlength="50" /></td>
                </tr>
                <tr>
                    <td>所属菜单<span class="required">*</span></td>
                    <td>
                        <select asp-for="@Model.MenuId" reg="regNum">
                            <option value="" selected="selected">请选择</option>
                            @if (Model.Level2Menus != null) {
                                foreach(var menu in Model.Level2Menus) {
                                    <option value="@menu.Id">@menu.MenuName</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>是否是菜单的默认页面</td>
                    <td>
                        <select name="DefaultPage" id="DefaultPage"  reg="regNum">
                            <option value="-1" selected="selected">请选择</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary" onclick="return validateForm()">保存</button>
            <button type="button" class="btn btn-default" onclick="javascript: window.location = '/Page/PageList';">返回</button>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        var rootNode = $('form');
        rootNode.on('blur', 'input', function () {
            if($('.alert').is(":visible")){
                if ($(this).attr("reg")) {
                    inputCheck($(this));
                }
            }
        });

        function validateForm() {
            var validateResult = true;

            if (!inputCheck($("[id='PageName']"))){
                validateResult = false;
            }
            else if (!inputCheck($("[id='PageURL']"))){
                validateResult = false;
            }

            else if (!inputCheck($("[id='MenuId']"))) {
                validateResult = false;
            }
            else if (!inputCheck($("[id='DefaultPage']"))) {
                validateResult = false;
            }


            console.info("表单验证结果：" + validateResult);
            return validateResult;
        }
    </script>
}

